# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.Python

# Entorno virtual
venv/
env/
.venv/

# Variables de entorno
.env

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/*
!media/.gitkeep
staticfiles/

# Editor / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
